<md-card>
  <section>
    <div class="flex-bar header-block">
      <div class="header-section center-block">
        <h3 class="light">
          Spend Less Time<br>Triaging Issues
        </h3>
        <h5 class="light">
          GitMate automatically identifies duplicates, notifies relevant developers and closes stale issues using a machine learning algorithm.
        </h5>
      </div>

      <div class="flex-expander"></div>

      <div *ngIf="!userDefined()" class="container center-block header-buttons" style="margin-top: 1.46rem;">
        <div>
          <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
            <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
            Use with GitHub
          </button>
        </div>
        <div>
          <button class="big-button" md-raised-button color="accent" (click)="loginGitLab()">
            <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
            Use with GitLab
          </button>
        </div>
        <div>
          <button class="big-button" md-raised-button color="accent" (click)="loginJira()">
            Use with Jira
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="center">
    <div style="width:500px;margin-left: auto;margin-right: auto;margin-top: -3vw;margin-bottom: 3vw;">
      <div class="center center-block section-heading">
        See what we can do for your repository
      </div>
      <div>
        <md-input-container style="width:66%;margin-right:12px;">
          <input mdInput placeholder="repository url" [(ngModel)]="report_repo_url" (keydown)="reportKeyDown($event)">
        </md-input-container>

          <button md-raised-button color="accent" (click)="getReport()">
            Create a report
          </button>
      </div>
    </div>
  </section>

  <section class="feature-detail-section">
    <div class="row">
      <div class="fds-content">
        <p class="center-block letter-spacing">
          <i class="fa fa-clone" aria-hidden="true"></i>
          DUPLICATES
        </p>
        <div class="section-heading">
          Goodbye Duplicate Issues
        </div>
        <h6 class="section-content light grey-text lighten-1">
          GitMate identifies duplicate and similar issues. All relevant
          information as well as related issues are summarized in the issue you
          work on before you even start.
        </h6>
      </div>
      <div class="fds-img center-block">
        <img class='responsive-img' src="assets/images/rock.png" style="margin-top:-3vw;" />
      </div>
    </div>
  </section>

  <section class="feature-detail-section">
    <div class="row">
      <div class="fds-img center-block">
        <img class='center-block responsive-img' src="assets/images/rock2.png" />
      </div>
      <div class="fds-content">
        <p class="center-block letter-spacing">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          NOISE
        </p>
        <div class="section-heading">
        Stop Digging Through Incoming Issues
        </div>
        <h6 class="section-content light grey-text lighten-1">
        GitMate notifies you when an issue that is relevant for you comes up.
        You can stop reading all issues to stay informed about the topics
        you’re interested in.
        </h6>
      </div>
    </div>
  </section>


  <section class="feature-detail-section">
    <div class="row">
      <div class="fds-content">
        <p class="center-block letter-spacing">
          <i class="fa fa-sitemap" aria-hidden="true"></i>
          MAINTENANCE
        </p>
        <div class="section-heading">
          Keep Your Issues Organized
        </div>
        <h6 class="section-content light grey-text lighten-1">
          GitMate automatically labels incoming issues and manages them as they
          become stale or outdated.
        </h6>
      </div>
      <div class="fds-img center-block">
        <img class='responsive-img' src="assets/images/rock3.png"/>
      </div>
    </div>
  </section>

  <section class="feature-detail-section">
    <div class="row">
      <div class="fds-img center-block">
        <img class='center-block responsive-img' src="assets/images/rock2.png" />
      </div>
      <div class="fds-content">
        <p class="center-block letter-spacing">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
          INTEGRATED
        </p>
        <div class="section-heading">
          Keep Your Existing Workflow
        </div>
        <h6 class="section-content light grey-text lighten-1">
          GitMate integrates seamlessly into GitHub and GitLab and is easily
          set up within seconds.
        </h6>
      </div>
    </div>
  </section>

  <section *ngIf="!userDefined()" class="center">
    <div class="center center-block section-heading">
      Get your issues triaged now!
    </div>
    <div class="container center-block buttons">
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
          Use with GitHub
        </button>
      </div>
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitLab()">
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
          Use with GitLab
        </button>
      </div>
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginJira()">
          Use with Jira
        </button>
      </div>
    </div>
  </section>
</md-card>
